* {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  box-sizing: border-box;
}


.line {
  display: flex;
}

body {
  display: flex;
  color: rgb(50, 50, 50);
}

aside {
  padding: 20px;
  width: 300px;
  min-height: 100vh;
  /*overflow: auto;*/
  background-color: #242729;
  color: #9fa6ad;
  position: relative;
}

.message {
  margin-bottom: 10px;
}

.wrapper {
  padding: 0 30px;
  width: 70%;
}

header {
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 0 rgba(12,13,14,0.15);
}

nav ul {
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	list-style: none;
	text-transform: uppercase;
}

nav ul li {
	margin-right: 10px;
	cursor: pointer;
}

nav ul li.selected a {
	font-weight: bold;
  color: rgba(200, 60, 60, 0.8);
}


nav ul li a {
	text-decoration: none;
  color: rgb(50, 50, 50);
}

nav ul li:hover {
	color: #858585;
}

h1 {
  margin-bottom: 10px;
}

main.broadcast-controls {
  display: flex;
}

section {
  margin-right: 50px;
  margin-bottom: 20px;
}

section.current-track {
  margin-top: -10px;
}


.logo img {
  width: 250px;
}

.main-button {
  background: rgb(196, 196, 196);
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-bottom: 5px;
}

.status {
  font-size: 40px;
}

main p {
  margin-bottom: 5px;
}

/* Recording files */
table.table {
  width: 500px;
  text-align: right;
}

#datepicker {
  margin: 20px;
}

#datepicker div {
  width: auto !important;
}

.ui-datepicker-next {
  position: absolute;
  top: 40px;
  right: 100px;
}

.ui-datepicker-next, .ui-datepicker-prev {
  cursor: pointer;
}

.ui-state-disabled {
  display: none;
}

input {
  padding: 3px 12px;
  background: transparent;
  border: 1px solid transparent;
  font-size: 18px;
  margin: 3px;
  margin-left: 0;
  transition: all 0.2s;
}

input:focus {
  border: 1px solid rgb(55, 174, 181);
}

aside input, select, button {
  color: #9fa6ad;
  margin-bottom: 4px;
}

aside input[type=text], aside input[type=datetime-local] {
  padding: 6px 12px;
  background-color: rgb(66, 66, 66);
  width: 230px;
  height: 35px;
  font-size: 16px;
}

asude input.upload {
  color: white;
}

input[type=submit] {
  background: transparent;
}


#uploadform {
  width: 270px;
}

#file {
  display: none;
}

select {
  padding: 3px 12px;
  width: 230px;
  height: 35px;
  font-size: 16px;
  background-color: rgb(66, 66, 66);
  border: 0;
  outline: 0;
}

.button.blue {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 0;
  margin-right: 5px;
  cursor: pointer;
  width: 70px;
  border: 1px solid rgb(55, 133, 158);
  color: rgb(55, 133, 158);
}

a {
  color: rgb(56, 90, 166);
}

#live_button.onair,
#phone_status.studio {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #bd362f;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


#showform { margin: 10px auto; }

#error { color: #ff0000; font-weight: bold; margin: 12px 10px; }
#success { color: #00ff00; font-weight: bold; margin: 12px 10px; }
